{% extends "base.html" %}

{% block title %}ae_image example app{% endblock %}
{% block body %}
  <p>
  ae_image is a library to make it easier to handle images associated with a
  db.Model using blobstore and the AppEngine image serving infrastructure.
  </p>

  <form method=post enctype=multipart/form-data style="padding: 1em"
        action="{{ upload_url }}">
    <p>
      <label for=name>Collection Name:</label>
      <input id=name name=name value=main>
      <br>

      <label for=images>Select some images:</label>
      <input id=images type=file name=images multiple>
      <br>

      <input type=submit value=Upload>
    </p>
  </form>

  {% if collections %}
    <h2>Collections</h2>
    {% for collection in collections %}
      <h3>{{ collection.name }}</h3>
      {% for key, url in collection.images.get_urls('thumb') %}
        <a href="{{ url_for('image', name=collection.name, key=key) }}">
          <img src="{{ url }}">
        </a>
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endblock %}
